/* DISCLAIMER: This code was refactored from the final result code available in the main repository of the bootcamp
and modified as per the instructions and the excemption given due to the upload mistake. 
Further, broader changes will be made in the following days */

* {
    box-sizing: border-box;
  }
  
  /* Color identity as per selected in the site https://www.khroma.co/generator */
  :root {
    --primary: #e3e7e0;
    --secondary: #f1d753;
    --tertiary: #524639;
    --dark: rgba(28, 29, 33, 1);
    --light: #d49218 ;
    --sec_change: 212,146,24;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--tertiary);
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3%;
  }
  
  p {
    margin: 0;
  }
  
  header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  
  header h1 {
    color: var(--secondary);
    background-color: var(--tertiary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--light);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--light) 0%, var(--light) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
  }
  
  nav a:hover {
    background-size: 100% 100%;
    color: var(--tertiary);
  }
  
  nav a:last-child {
    margin-right: 0;
  }
  
  main {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  

  /* HERO BANNER */
  .hero-banner {
    background: rgb(68, 88, 120);
    background-image: url("../assets/images/ODA_002_EXTERIOR_RENDER_V2.png"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 33vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  
  .hero-banner div {
    flex: 0 0 90%;
  }
  
  .hero-banner h2 {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
  }
  

  /* PAGE */
  .page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
  }
  

  /* FLEX CONTAINERS */
  .flex-container {
    display: flex;
    min-height: 21%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    border: 5px solid var(--secondary);
    background-color: rgba(var(--sec_change), 0.1);
    color: var(--tertiary);
    min-height: 50vh;
    max-height: 300px;
    flex-basis: calc(100% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 9px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: multiply; 
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
 /* feature first portfolio item */
  .flex-item:first-child {
      min-height: 600px;
      flex-basis: 100%;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .flex-item:hover {
    background-color: rgba(10,94,103,0.5);
  }
  
  .flex-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
    min-height: 3vh;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }
  
  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .contact address a {
    color: var(--secondary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--light);
  }
  

  /* IMAGES for portfolio */

  .casa-uro {
    background-image: url("../assets/images/URO_BALCON_INTERIOR.jpg");
    
    /* Creates parallax effect */
    height: 100%;
    background-attachment: fixed;
    background-position: left;
    background-repeat: space;
    background-size: cover;
  }

  .myc {
    background-image: url("../assets/images/Captura\ de\ pantalla\ 2023-03-16\ 225644.png");

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .living-tec {
    background-image: url("../assets/images/PstEdt_MONEYSHOT\ EXTERIOR\ NOCHE_2.png");
    
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
  
  .oda-polidep {
    background-image: url("../assets/images/ODA_002_INTERIOR_RENDER_V2.png");
    
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fluir {
    background-image: url("../assets/images/Portada_FLUIR_ArielMuhlia.png");
    
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /*  special colours for the different areas, else will be coloured according to the main hove colour*/
  .arq:hover {
    background-color: rgba(198,57,10,0.5);
  }
  
  .web:hover {
    background-color: rgba(136,143,36,0.7);
  }
  

  /* MEDIA SELECTORS */

  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 50vh;
    }
  
    .flex-item:first-child {
      min-height: 66.6vh;
    }

    .casa-uro {
        background-position: center;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: right;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  